footer{
    display:flex;
    justify-content:space-between;
    margin-top:200px;
    height:200px;
    background-color: darkorange;
    font-size:2.0em;
}

footer .contato{
    margin-left:100px;
    margin-top:50px;
}

footer .localizacao{
    margin-right:100px;
    margin-top:40px;
}